<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:repository="http://www.springframework.org/schema/data/repository"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.3.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.3.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.8.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/data/repository http://www.springframework.org/schema/data/repository/spring-repository-2.1.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">

 	<jpa:repositories base-package="com.searchitemsapp.dao.repository" />
 	
 	<mvc:annotation-driven /> 	
 	<context:annotation-config /> 	
 
	<context:component-scan base-package="com.searchitemsapp" />
	
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
          <property name="prefix" value="/" />
          <property name="suffix" value=".jsp" />
          <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
   </bean>
	
   <mvc:resources mapping="/resources/**" location="WEB-INF/resources/" />
   <mvc:resources mapping="/css/**" location="css/" />
   <mvc:resources mapping="/js/**" location="js/" />
   <mvc:resources mapping="/img/**" location="img/" />
   	
	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />
        
    <!-- @PersistenceUnit annotation -->
    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />
          
	<bean id="dataSource"
        class="com.mchange.v2.c3p0.ComboPooledDataSource"
        destroy-method="close" p:driverClass="${hibernate.connection.driver_class}"
        p:jdbcUrl="${hibernate.connection.url}" p:user="${hibernate.connection.username}"
        p:password="${hibernate.connection.password}"
        p:acquireIncrement="${hibernate.c3p0.acquire_increment}"
        p:minPoolSize="${hibernate.c3p0.min_size}"
        p:maxPoolSize="${hibernate.c3p0.max_size}"
        p:maxIdleTime="${hibernate.c3p0.max_idle_time}"
        p:unreturnedConnectionTimeout="${hibernate.c3p0.unreturned_connection_timeout}" />
        
	<bean id="jpaAdapter"
        class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
        
    <bean id="entityManagerFactory"
        class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
        p:dataSource-ref="dataSource"
        p:packagesToScan="com.searchitemsapp.entities"
        p:jpaVendorAdapter-ref="jpaAdapter">

        <property name="jpaProperties">
            <props>
                <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.connection.autocommit">${hibernate.connection.autocommit}</prop>
                <prop key="hibernate.cache.use_second_level_cache">${hibernate.cache}</prop>
                <prop key="hibernate.cache.use_query_cache">${hibernate.query.cache}</prop>
                <prop key="hibernate.cache.provider_class">${hibernate.cache.provider_class}</prop>
                <prop key="hibernate.cache.region.factory_class">${hibernate.cache.region.factory_class}</prop>
                <prop key="hibernate.generate_statistics">${hibernate.statistics}</prop>
                <prop key="net.sf.ehcache.configurationResourceName">/cache-config.xml</prop>
            </props>
        </property>
 
        <property name="loadTimeWeaver">
            <bean class="org.springframework.instrument.classloading.InstrumentationLoadTimeWeaver" />
        </property> 
    </bean>
        
    <bean id="transactionManager"
        class="org.springframework.orm.jpa.JpaTransactionManager"
        p:entityManagerFactory-ref="entityManagerFactory" />
        
	  <util:map id="mapDynEmpresas" map-class="java.util.HashMap" key-type="java.lang.Integer" value-type="java.lang.Boolean"></util:map>
	  <util:map id="mapEmpresas" map-class="java.util.HashMap" key-type="java.lang.String" value-type="com.searchitemsapp.dto.EmpresaDTO"></util:map>
      <util:list id="listTodasMarcas" value-type="com.searchitemsapp.dto.MarcasDTO"></util:list>
      <util:list id="listUrlDto" value-type="com.searchitemsapp.dto.UrlDTO"></util:list>
          
      <bean id="processDataModule" class="com.searchitemsapp.processdata.ProcessDataModule" scope="prototype">
      		<constructor-arg index="0" ref="urlDTO" />
      		<constructor-arg index="1" type="java.lang.String" value="" />
      		<constructor-arg index="2" type="java.lang.String" value="" />
      		<constructor-arg index="3" ref="mapEmpresas" />
      		<constructor-arg index="4" ref="listTodasMarcas" />
      		<constructor-arg index="5" ref="mapDynEmpresas" />
      </bean>
</beans>
