<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>T&eacute;rminos de uso</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="felix marin">
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="text-center text-center">
                    <img class="mb-5 mt-5 w-50" th:src="@{img/logo/pricerank.png}" alt="PRICE RANK">
                </div>
            </div>
        </div>
    </div>
    <div id="wrap">
        <div class="container">
            <div class="page-header mb-5">
                <h1>T&eacute;rminos de uso</h1>
            </div>
            <p class="lead text-justify">Pol&iacute;tica de Privacidad</p>
            <p class="text-justify">El presente Pol&iacute;tica de Privacidad establece los t&eacute;rminos en que usa y protege la informaci&oacute;n que es
                proporcionada por sus usuarios al momento de utilizar su sitio web. Esta compañ&iacute;a est&aacute; comprometida con
                la seguridad de los datos de sus usuarios. Cuando le pedimos llenar los campos de informaci&oacute;n personal
                con la cual usted pueda ser identificado, lo hacemos asegurando que s&oacute;lo se emplear&aacute; de acuerdo con los
                t&eacute;rminos de este documento. Sin embargo esta Pol&iacute;tica de Privacidad puede cambiar con el tiempo o ser
                actualizada por lo que le recomendamos y enfatizamos revisar continuamente esta p&aacute;gina para asegurarse
                que est&aacute; de acuerdo con dichos cambios.</p>
            <p class="lead text-justify">Informaci&oacute;n que es recogida</p>
            <p class="text-justify">Nuestro sitio web podr&aacute; recoger informaci&oacute;n personal por ejemplo: Nombre, informaci&oacute;n de contacto como su
                direcci&oacute;n de correo electr&oacute;nica e informaci&oacute;n demogr&aacute;fica. As&iacute; mismo cuando sea necesario podr&aacute; ser
                requerida informaci&oacute;n espec&iacute;fica para procesar alg&uacute;n pedido o realizar una entrega o facturaci&oacute;n.</p>
            <p class="lead text-justify">Uso de la informaci&oacute;n recogida</p>
            <p class="text-justify">Nuestro sitio web emplea la informaci&oacute;n con el fin de proporcionar el mejor servicio posible,
                particularmente para mantener un registro de usuarios, de pedidos en caso que aplique, y mejorar
                nuestros productos y servicios. Es posible que sean enviados correos electr&oacute;nicos peri&oacute;dicamente a
                trav&eacute;s de nuestro sitio con ofertas especiales, nuevos productos y otra informaci&oacute;n publicitaria que
                consideremos relevante para usted o que pueda brindarle alg&uacute;n beneficio, estos correos electr&oacute;nicos
                ser&aacute;n enviados a la direcci&oacute;n que usted proporcione y podr&aacute;n ser cancelados en cualquier momento.

                est&aacute; altamente comprometido para cumplir con el compromiso de mantener su informaci&oacute;n segura. Usamos los
                sistemas m&aacute;s avanzados y los actualizamos constantemente para asegurarnos que no exista ning&uacute;n acceso no
                autorizado.</p>
                <p class="lead text-justify">Enlaces a Terceros</p>
            <p class="text-justify mb-5">Este sitio web pudiera contener en laces a otros sitios que pudieran ser de su inter&eacute;s. Una vez que usted
                de clic en estos enlaces y abandone nuestra p&aacute;gina, ya no tenemos control sobre al sitio al que es
                redirigido y por lo tanto no somos responsables de los t&eacute;rminos o privacidad ni de la protecci&oacute;n de sus
                datos en esos otros sitios terceros. Dichos sitios est&aacute;n sujetos a sus propias pol&iacute;ticas de privacidad
                por lo cual es recomendable que los consulte para confirmar que usted est&aacute; de acuerdo con estas.</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col text-right pb-5">
                    <button type="button" class="btn btn-primary" onclick="javascript:window.history.back();">Atr&aacute;s</button>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <footer class="bg-light text-center text-lg-start">
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
              <p class="muted credit"> © 2021 Copyright. Desarrollado por
                <a href="https://github.com/FelixMarin/searchitemsapp-spring-boot-api">F&eacute;lix Mar&iacute;n Ram&iacute;rez</a>.</p>
            </div>
          </footer>
    </div>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>